.row {
    margin-top: 10px;
}
.sem{
    font-family: Arial;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.sem label{
    position: relative;
    margin: 4px 15px 4px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: block;
}
.sem input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.form-check {
    margin-left: 0px;
}
.col-1 {
    margin-left: 5px;
}
.my-col, .legend {
    width: 180px; 
    margin-left: 30px;
}
.form-check-label {
    text-align: center;
    width: 100%;
    color: #bababa;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 10px;
    min-width: 70px;
    transition: 350ms;
}
.math {
    border: 2px solid rgb(25, 0, 253);
    background: rgba(25, 0, 253, 0.199);
}
.ge {
    border: 2px solid rgb(170, 168, 166);
    background: rgba(170, 168, 166, 0.199);
}
.cs {
    border: 2px solid rgb(0, 151, 38);
    background: rgba(0, 151, 38, 0.199);
}
.intro {
    border: 2px solid gold;
    background: rgba(255, 215, 0, 0.199);
}
.box-footer{
    float:left;
    margin-left: 340px;
    margin-top: 6px;
    width: 440px;
    height: 100%;
    padding-top: 10px;
    border: 2px solid rgb(196, 31, 196);
    background-color: rgba(196, 31, 196, 0.199);;
    text-align: center;
}
.electives{
    float:right;
    margin-left: 175px;
    width: 310px;
    height: 100%;
    padding-top: 10px;
    border-style: dashed;
}
table {
    margin-top: 17px;
}
p {
    font-size: 13px;
}
td {
    border: 2px solid black;
    width: 150px;
    text-align: center;
}
h4, h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 1045px){
    .col-1 {
        margin-left: 4px;
    }
    .bottom {
        margin-top: 0px;
    }
    .box-footer {
        margin-left: 55px;
    }
    .electives {
        margin-top: 15px;
        margin-left: 225px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 760px){
    .col-1 {
        margin-left: 0px;
    }
    .box-footer {
        margin-left: 150px;
    }
    .electives {
        margin-left: 215px;
    }
    .legend {
        margin-left: 285px;
    }
}

@media screen and (max-width: 655px){
    .col-1 {
        margin-left: 40px;
    }
    .box-footer {
        margin-left: 20px;
    }
    .electives {
        margin-left: 85px;
    }
    .legend {
        margin-left: 155px;
    }
}