.row {
    margin-top: 30px;
}
.sem{
    font-family: Arial;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.sem label{
    position: relative;
    margin: 4px 15px 4px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: block;
}
.sem input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.form-check {
    margin-left: -6px;
}
.my-col {
    width: 180px; 
    margin-left: 30px;
}
.form-check-label {
    text-align: center;
    width: 100%;
    color: #bababa;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 20px;
    min-width: 70px;
    transition: 350ms;
}
.math {
    border: 2px solid rgb(25, 0, 253);
    background: rgba(25, 0, 253, 0.199);
}
.ge {
    border: 2px solid rgb(170, 168, 166);
    background: rgba(170, 168, 166, 0.199);
}
.cs {
    border: 2px solid rgb(0, 151, 38);
    background: rgba(0, 151, 38, 0.199);
}
.intro {
    border: 2px solid gold;
    background: rgba(255, 215, 0, 0.199);
}
.box-footer{
    float:left;
    margin-left: 330px;
    width: 440px;
    height: 100%;
    padding-top: 10px;
    border: 2px solid rgb(196, 31, 196);
    background-color: rgba(196, 31, 196, 0.199);;
    text-align: center;
}
table {
    margin-top: 12px;
}
p {
    font-size: 13px;
}
td {
    border: 2px solid black;
    width: 150px;
    text-align: center;
}
h4, h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 1045px){
    .col-1 {
        margin-left: 0;
    }
}