.sem{
    font-family: Arial;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.sem label{
    position: relative;
    margin: 4px 15px 4px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    color: #bababa;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 20px;
    min-width: 70px;
    transition: 350ms;
}
.sem input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}